.Layout {
	max-width: 100%;
	width: 50rem;
	margin: 1rem auto;
}
.LayoutHeader {
	background: linear-gradient(0deg, #212121, #4f4f4f);
	display: flex;
	border-radius: 5px;
	overflow: hidden;
}

.LayoutContent {
	padding: 1rem;
	background: #f4f4f4;
}
