.Layout {
	max-width: 100%;
	width: 50rem;
	margin: 1rem auto;
}
.LayoutHeader {
	background-color: #333;
	display: flex;
	border-radius: 5px;
}

.LayoutContent {
	padding: 1rem;
	background: #f4f4f4;
}
